<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express</title>
    <script>profile="http://www.w3.org/2005/10/profile"</script>
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    <link rel="stylesheet" href="/stylesheets/style.css">    
</head>


<body>
    <div id="main"></div>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <script src="/GoodPoseTab/javascripts/tm_function.js"></script>
    <script src="/GoodPoseTab/javascripts/App.js"></script>
    <script src="/GoodPoseTab/javascripts/tm_init.js"></script>
    <script src="/GoodPoseTab/javascripts/MainUI.js"></script>
    <script src="/GoodPoseTab/javascripts/main.js"></script>
</body>
</html>