<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/home_style.css">
</head>
<body>
  홈페이지 - 로그인 하는 곳 입니다.
  <a href="/posture">자세교정</a>
  <a href="/stretching">스트레칭</a>
</body>
</html>