<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    1번 통계

    <div id="main"></div>
    
    <script src="/javascripts/statistics_js/statistics_1.js"></script>
</body>
</html>