<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기지개</title>
    <link rel="stylesheet" href="/stylesheets/posture_style.css">
</head>
<body>
    자세 교정 입니다
    <a href="/">홈페이지</a>

    <!-- <script src="/javascripts/posture_js/posture_WepWorker.js"></script> -->
    <div id="main"></div>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    
    
    <script src="/javascripts/posture_js/posture_tm_function.js"></script>
    <script src="/javascripts/posture_js/posture_App.js"></script>
    <script src="/javascripts/posture_js/posture_tm_init.js"></script>
    
    <script src="/javascripts/posture_js/posture_MainUI.js"></script>
    <script src="/javascripts/posture_js/posture_main.js"></script>
    <script src="/javascripts/posture_js/posture_onoffsound.js"></script>

</body>
</html>