<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    통계 탭
    <div id="main"></div>
    <a href="/statistics/page">통계</a>
    <button class="btn">button</button>
    <div class="testest">9999</div>
    
    <script src="/javascripts/stretching_js/test.js"></script>
</body>
</html>