<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/posture_style.css">
</head>
<body>
    통계 탭
    <div id="main"></div>
    <a href="/statistics/page/1">통계1</a>
    <a href="/statistics/page/2">통계2</a>
    <a href="/statistics/page/3">통계3</a>
    <a href="/">홈페이지</a>
    <button class="btn">button</button>
    <div class="testest">9999</div>
    
   
</body>
</html>