<html>
    <header>
        <title>기지개 - 내 통계</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </header>

    <body>
        <div class="MainDiv">
            <div class="DesignBar"></div>
            <div class="MenuContainer">
                <span class="BtnContainer">
                    <button class="MenuBtn">바른자세</button>
                    <button class="MenuBtn">스트레칭</button>
                    <button class="MenuBtn" style="font-weight: bold;">내 통계</button>
                </span>
                <button class="Button">
                    <img src="./images/icon/menu.svg" alt="menu" id="btn"></img>
                </button>
            </div>
            <div class="stContentContainer">
                <div class="TabBtnContainer">
                    <div class="TabBtn">내 자세</div>
                    <div class="TabBtn">스트레칭 기록</div>
                </div>
                <div class="stArticleContainer">
                    <div class="GaugeContainer" >
                        <div id="posture"></div>
                    </div>
                    <div class="GaugeContainer" style="display:none;">
                        <div id="stretching"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="/javascripts/statistics_js/statistics.js"></script>
    <script src="/javascripts/buttons.js"></script>
    </body>
</html>