<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/stretching_style.css">
</head>
<body>
    스트레칭 입니다
    <a href="/">홈페이지</a>

    <div id="main"></div>
    <script src="/javascripts/stretching_js/teachable_init.js"></script>
    <script src="/javascripts/stretching_js/stretching_mainUI.js"></script>
    <script src="/javascripts/stretching_js/stretching_App.js"></script>
    <script src="/javascripts/stretching_js/stretching_main.js"></script>
    


    
    


</body>
</html>