<html>
    <header>
        <title>css testing~</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </header>

    <body>
        <div class="MainDiv">
            <div class="DesignBar"></div>
            <div class="MenuContainer">
                <span class="BtnContainer">
                    <button class="MenuBtn">바른자세</button>
                    <button class="MenuBtn" style="font-weight: bold;">스트레칭</button>
                    <button class="MenuBtn">내 통계</button>
                </span>
                <button class="Button">
                    <img src="../images/icon/menu.svg" alt="menu"></img>
                </button>
            </div>
            <div class="ContentContainer">
                <div class="sArticleContainer">
                    <article class="sArticle">
                        <div class="Camera">
                            <canvas id="canvas">
                            </canvas>
                            <div class="OST">
                                <div class="OnScreenTxt"></div>
                                <div class="OnScreenTxt"></div>
                            </div>
                        </div>
                        
                        <div class="InfoContainer">
                            <div class="Info">
                                <div class="Title">경과 시간</div>
                                <div class="Value">00 : 00</div>
                            </div>
                            <div class="Info">
                                <div class="Title">진행 현황</div>
                                <div class="Value">0 / 5</div>
                            </div>
                            <div class="Info">
                                <div class="Title">현재 점수</div>
                                <div class="Value">0점</div>
                            </div>
                        </div>
                    </article>
                    <article class="sArticle">
                        <img src="../images/icon/play.svg" alt="play" class="Play">
                        <img src="../images/pictogram/ptpose_2.png" alt="p2" class="Pictogram">
                    </article>
                </div>
                <div class="Gauge">
                    <div class="Fill"></div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="/javascripts/stretching_js/stretching.js"></script>
    <script src="/javascripts/buttons.js"></script>
    </body>
</html>